@import "tailwindcss";

@theme inline {
  --color-background: #fdfbf7;
  --color-foreground: #050505;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fdfbf7;
  --foreground: #050505;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* smooth scrolling */
  scroll-behavior: smooth;
}

/* Custom scrollbar for high-end feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

/* utility for text balance */
.text-balance {
  text-wrap: balance;
}
